{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="ml-5">
    <div class="text-white text-2xl font-semibold">Your cart: <span class="text-red-600">{{ cart_items | length }}</span> movies</div>
    {% for item in cart_items %}
        <a href="{% url 'movie' item.movie.movie_id %}">
            <div class="relative w-[90%] mt-4 h-[225px] clear-both cursor-pointer hover:bg-[#2a343c] rounded-xl">
                <img class="rounded-xl float-left mr-2" width="150px" src={{item.movie.poster_path}} alt="">
                <div class="float-left pl-3">
                    <div class="text-2xl font-semibold text-white mb-3">
                        {{item.movie.name}}
                    </div>
                    <div>
                        <span class="text-2xl font-semibold text-red-600 mt-2 ml-1">${{item.movie.price}}</span>
                    </div>
                </div>
                <form method="post" action="{% url 'remove_from_cart' %}" class="absolute top-[83px] right-10">
                    {% csrf_token %}
                    <input type="hidden" name="movie_id" value="{{ item.movie.movie_id }}">
                    <!-- Thêm các trường dữ liệu khác nếu cần -->
                    <button type="submit"  class="">
                        <img src="{% static 'svg/trash.svg' %}" alt="" class="h-12 hover:border-2 rounded-lg">
                    </button>
                </form>
            </div>
        </a>
    {% endfor %}
    <div class="grid grid-cols-[190px_1fr_190px] mt-10 border-4 border-red-600 w-[90%] py-5 text-white text-2xl pl-5 rounded-xl">
        <div>Total</div>
        <div class="flex justify-center text-red-500 font-semibold">${{total_price}}</div>
        <div class="bg-red-500 my-[-20px] flex justify-center items-center">Purchase</div>
    </div>
</div>




{% endblock %}