{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<div class="grid grid-cols-[300px_2px_850px] gap-10">
    <div class="flex justify-center items-center">
        <div class="w-full">
            <div class=" h-20  flex justify-center items-center cursor-pointer">
                <a href="{% url 'profile' %}">
                    <div class="text-[rgb(133,133,133)]">
                        <img src="{% static 'svg/user_white.svg' %}" alt="" class="float-left h-7">
                        <span class="ml-3 mt-0.5 float-left text-xl font-semibold">Profile</span>
                    </div>
                </a>
            </div>
            <div class=" h-20 flex justify-center items-center cursor-pointer">
                <a href="{% url 'library' %}">
                    <div class="text-[rgb(133,133,133)]">
                        <img src="{% static 'svg/movie_white.svg' %}" alt="" class="float-left h-5 mt-2">
                        <span class="ml-3 mt-1 float-left text-xl font-semibold">Movie</span>
                    </div>
                </a>
            </div>
            <div class=" h-20 flex justify-center items-center cursor-pointer">
                <div class="text-red-600">
                    <img src="{% static 'svg/lock_red.svg' %}" alt="" class="float-left h-7 ml-9 mt-1">
                    <span class="ml-3 mt-1 float-left text-xl font-semibold">Password</span>
                </div>
            </div>
            <div class=" h-20 flex justify-center items-center cursor-pointer">
                <a href="{% url 'logout' %}">
                    <div class="text-[rgb(133,133,133)]">
                        <img src="{% static 'svg/logout.svg' %}" alt="" class="float-left h-6 ml-5 mt-1.5">
                        <span class="ml-3 mt-1 float-left text-xl font-semibold">Log out</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="h-[500px] w-[0.5px] bg-gray-400">
    </div>
    <div class="">
        <div class="flex justify-center mt-[-20px]">
            <img src="{% static 'svg/user_white.svg' %}" alt="" class="float-left h-20 mb-2">
        </div>
        <div class="text-xl text-center  text-white font-semibold">Your name</div>
        <div class="relative flex justify-center text-white font-semibold">
            <div class="w-48 flex justify-center relative">
                <span class="text-red-600">Change </span> <span>Password</span>
                <!-- <div class="absolute right-[-55px] mt-[-1px] bg-red-600 px-2 rounded-xl py-1 text-xs">Add + </div> -->
            </div>
        </div>
    
        <div class="flex justify-center items-center w-full">
            <div class="p-8 rounded-lg w-[700px]">
                <form action="{% url 'update_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-4">
                        <label for="new_password1" class="block text-white">New Password</label>
                        <input type="password" id="new_password1" name="new_password1" placeholder="New Password" class="w-full px-3 py-2 mt-1 border border-red-500 rounded bg-gray-800 text-white">
                    </div>
                    <div class="form-group mt-4">
                        <label for="new_password2" class="block text-white">Confirm</label>
                        <input type="password" id="new_password2" name="new_password2" placeholder="New Password" class="w-full px-3 py-2 mt-1 border border-red-500 rounded bg-gray-800 text-white">
                    </div>
                    <button name="Cancel" type="submit" class="px-4 py-2 bg-white text-red-600 border-2 border-red-600 font-semibold rounded hover:bg-white mt-5 mr-5 text-red-600">
                        Cancel
                    </button>
                    <button name="Save" type="submit" class="px-4 py-2 bg-red-600 text-white border-2 border-red-600 font-semibold rounded hover:bg-red-700 mt-5">
                        Save
                    </button>
                </form>
                
            </div>
        </div>

    </div>
</div>

{% endblock %}